---
BasedOnStyle: Google

ColumnLimit: 100
ReflowComments: true # might want to switch off for the older files

Language: Cpp
# Force pointers to the type for C++.
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 4